:root {
    --primary-color: #007bff; /* Default color */
    --background-color: #fff; /* Default background color */
    --text-color:red
  }
.insights-container{
    height: 83vh;
   
}
.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px;
    /* border: 1px solid #ccc; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-color: var(--background-color);
  }
  .dark-theme {
    --background-color: #333; /* Update background color for dark mode */
    --text-color: #48fa01; /* Update text color for dark mode */
  }
.form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
