.content {
  overflow-y: auto;
  height: 83vh;
    padding: 20px;
    margin-top: 10px;
  }
  
  .content-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .side-link {
    margin-bottom: 15px;
  }
  
  .side-link a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
  }
  
  .new-icon {
    width: 20px; 
    height: 20px;
    margin-right: 10px;
  }
  
  .nav-text {
    font-size: 16px;
  }
  .side-link {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 15px; 
  }
  
  .side-link:last-child {
    border-bottom: none; 
  }

 
  .dark-theme .side-link a{
    color: #fff;
  }